<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>查专业</title>
		<link rel="stylesheet" href="./高考志愿汇/zy.css">
		<link rel="stylesheet" href="./高考志愿汇/ipin-ico.css">
		<link rel="stylesheet" href="./高考志愿汇/base.css">
		<link rel="stylesheet" href="./高考志愿汇/school.css">
		<style>
			.g-school .m-sch-search .b-search {
			width: 10.001%;
		}
	</style>
	</head>
	<body class="ch-sticky">
		<div class="g-head">
			<common-head></common-head>
			<div class="m-main-menu-wrap">
				<div class="m-main-holder clear">
					<div class="m-main-menu content">
						<div class="logo-gkzyh fl"><a href="index.html"><img class="logo" src="./高考志愿汇/logo-v7.png"></a>
						</div>
						<div class="m-search">
							<div class="m-input searchBar clear">
								<input type="text" placeholder="搜索学校、专业" class="js-searchField">
								<i class="u-search js-searchIcon"></i>
								<a href="javascript:;" class="f-btn js-searchBtn ">搜索</a>
							</div>
						</div>
						<div class="m-time-end"></div>
					</div>
				</div>
				<div class="m-nav-warp clear">
					<ul class="content">
						<li class="index"><a href="index.html">首页</a></li>
						<li class="zhiyuan"><a href="applysch.html">填志愿</a></li>
						<li class="findSchool"><a href="schoolinfo.html">找学校</a></li>
						<li class="findMajor active"><a href="findMajor.html">找专业</a></li>
						<li class="rankingList"><a href="">排行榜</a></li>
						<li class="solve"><a href="solve.html">报考指导</a></li>
						<li class="product"><a href="login.html">个人中心</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="g-school">
			<div class="content">
				<div class="crumb">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li>&gt;</li>
						<li><a href="javascript:;">专业详解</a></li>
					</ul>
				</div>
				<div class="">
					<div class="m-sch-search searchBar">
						<input type="text" placeholder="搜索你感兴趣的专业" class="js-searchField"><span class="js-searchBtn b-search" href="javascrit:;">搜索</span>
						<div class="dropdown-box js-dropdownBox"></div>
					</div>
				</div>

				<!--主体区域-->
				<div class="container">
					<div class="zyk-list">
						<ul class="zyk-cc-ul clearfix" id="ccUl">
							<li id="1050" class="onread notop">本科</li>
							<li id="1060">专科</li>

						</ul>
						<div class="spec-list clearfix">
							<ul class="zyk-lb-ul" id="mlUl">
								<div id="ml">
									<li id="105001" class="onread notop">哲学<i class="iconfont"> </i></li>
									<li id="105002" class="">经济学<i class="iconfont"> </i></li>
									<li id="105003" class="">法学<i class="iconfont"> </i></li>
									<li id="105004" class="">教育学<i class="iconfont"> </i></li>
									<li id="105005" class="">文学<i class="iconfont"> </i></li>
									<li id="105006" class="">历史学<i class="iconfont"> </i></li>
									<li id="105007" class="">理学<i class="iconfont"> </i></li>
									<li id="105008">工学<i class="iconfont"> </i></li>
									<li id="105009">农学<i class="iconfont"> </i></li>
									<li id="105010">医学<i class="iconfont"> </i></li>
									<li id="105012">管理学<i class="iconfont"> </i></li>
									<li id="105013">艺术学<i class="iconfont"> </i></li>
								</div>
							</ul>
							<ul class="zyk-lb-ul zyk-xk-ul" id="xkUl">
								<div id="xk">
									<li id="10500101" class="onread notop">哲学类<i class="iconfont"></i></li>
									<li id="105001SY">人文科学试验班类<i class="iconfont"></i></li>
								</div>
							</ul>

							<div class="zyk-list-coverbg"></div>

							<div id="listResult" class="zyk-table-container zyk-table-container-border">

								<table class="ch-table">
									<tbody>
										<tr>
											<th>专业名称</th>
											<th width="120">专业代码</th>
											<th width="120">开设院校</th>
											<th width="120">专业主页</th>
										</tr>

										<tr>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381059" target="_blank">哲学</a></td>
											<td>010101</td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/schools.action?specialityId=73381059&amp;ssdm=" target="_blank">查看</a></td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381059" target="_blank">查看</a></td>
										</tr>

										<tr>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381063" target="_blank">逻辑学</a></td>
											<td>010102</td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/schools.action?specialityId=73381063&amp;ssdm=" target="_blank">查看</a></td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381063" target="_blank">查看</a></td>
										</tr>

										<tr>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381067" target="_blank">宗教学</a></td>
											<td>010103</td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/schools.action?specialityId=73381067&amp;ssdm=" target="_blank">查看</a></td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73381067" target="_blank">查看</a></td>
										</tr>

										<tr>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=164248791" target="_blank">伦理学</a></td>
											<td>010104</td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/schools.action?specialityId=164248791&amp;ssdm=" target="_blank">查看</a></td>
											<td><a href="https://gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=164248791" target="_blank">查看</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="zyk-list-borderone"></div>
							<div class="zyk-list-bordertwo"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<common-end></common-end>
			</div>
	</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/commit.js"></script>
	<script type="text/javascript" src="js/schinfo.js"></script>
	<script type="text/javascript" src="js/major.js"></script>
</html>
